body {
    background-color: #232020;
}

.todolist {
    border: 2px solid #000;
    border-radius: 10px;
    padding: 0 5px;
    background-color: cyan;

}

.todolist > h3 {
    text-align: center;
}

.wrap > input{
    margin-right: 5px;
}
.wrap >ul{
    list-style: none;
}
.buttons{
    text-align: center;
    margin-bottom: 5px;
}
.buttons>button:not(:last-child){
    margin-right: 5px;
}
.App {
    padding: 30px;
    display: flex;
}

.App > div {
    margin-right: 50px;
}
.error{
    border: 1px solid red;
}
.error-message{
    color: red;
}
.active-filter{
    background-color: aquamarine;
}
.is-done{
    opacity: 0.5;
}